"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3fe9b833-2b0e-447a-beca-5d4b834dcdd6"
      analytics: false
      beautifyEntireFileOnSave: false
  core:
    disabledPackages: [
      "resize-panes-w-mouse"
      "resize-panes-w-mouse"
      "resize-panes-w-mouse"
      "resize-panes-w-mouse"
      "resize-panes-w-mouse"
      "resize-panes-w-mouse"
      "activate-power-mode"
    ]
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    autoIndent: false
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "39ccae1b-4180-54e6-70d9-ea99c2c9e8e8"
  "git-history": {}
  linter: {}
  "linter-flake8": {}
  minimap: {}
  "one-dark-ui": {}
  "open-recent": {}
  pigments: {}
  "recent-files":
    updated: false
  "travis-ci-status": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
