"*":
  editor:
    invisibles: {}
    autoIndent: false
    showIndentGuide: true
    fontSize: 12
  core:
    disabledPackages: [
      "resize-panes-w-mouse"
      "resize-panes-w-mouse"
      "resize-panes-w-mouse"
      "resize-panes-w-mouse"
      "resize-panes-w-mouse"
      "resize-panes-w-mouse"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  "exception-reporting":
    userId: "39ccae1b-4180-54e6-70d9-ea99c2c9e8e8"
  welcome:
    showOnStartup: false
  linter: {}
  "linter-flake8": {}
  minimap: {}
  "travis-ci-status": {}
  "recent-files":
    updated: false
  "atom-beautify":
    analytics: false
    beautifyEntireFileOnSave: false
  "tree-view": {}
  pigments: {}
  "one-dark-ui": {}
  "git-history": {}
